
.nav-item a, .nav-item a:visited, .nav-item a:focus, .nav-item a:active{
  color: white;
}

.nav-item .active-link{
  color: var(--active-color);
}

.nav-item a:hover{
  color: var(--active-color);
}

// .nav-item a:link{
//   color: white;
// }